@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: franklin;
  src: url('../../public/assets/font/FranklinGothic-Heavy.otf');
}

body{
  font-family: "Sarabun", sans-serif !important;
  background: #1C2430 !important;
}

.font-franklin {
  font-family: "franklin", sans-serif;
}

/* =========================== Common ===========================  */
.transition-300{
  transition: all 300ms linear;
}

.pointer-event-none{
  pointer-events: none;
}

.common-description{
  font-size: 14px;
  line-height: 130%;
  color: #D4E5FF;
}

.cursor-pointer{
  cursor: pointer;
}

/*=========================== Header =========================== */

.header-container{
  max-width: 880px !important;
  min-height: 83px;
}

.page-logo{
  max-width: 424px !important;
  width: 100% !important;
  left: -23%;
}

.header-links{
  gap: 32px;
}

.header-link{
    font-size: 16px;
    line-height: 130%;
    text-decoration: none !important;
}

.icon-div{
  gap: 18px;
}

/* =========================== Hero =========================== */

.blue-layer{
  z-index: -1 !important;
}


.hero-container{
  padding-top:  164px;
  max-width: 880px !important;
  padding-bottom: 140px;
}

.hero-left-lightning{
  bottom: -5%;
}

.hero-heading{
  font-size: 64px;
  line-height: 113%;
  color: #3586FF;
}

.hero-description{
  max-width: 502px;
  margin-bottom: 43px;
}

.hero-button{
  padding: 8px 24px;
  border-radius: 9px;
  background-color: #245AAB;
}

.hero-heading::after{
  content: '';
  position: absolute;
  background-color: #3586FF;
  width: 164px;
  left: 0;
  height: 1px;
  top: -1px;
}

/* =========================== Story =========================== */

.heading{
  font-size: 43px;
  line-height: 113%;
  color: #3586FF;
}

.story-container{
  max-width: 888px !important;
}

.story-description{
  margin-bottom: 36px;
}

.story-image{
  max-width: 1280px !important;
  width: 100% !important;
  object-fit: cover !important;
}

.story-section{
  gap: 58px;
  padding-bottom: 61px;
}

/* =========================== Team =========================== */

.team-container{
  max-width: 904px !important;
}

.team-card:hover .team-image{
  scale: 1.2;
}

.team-section{
  padding-bottom: 64px;
}

.card-position{
  font-size: 24px;
  line-height: 113%;
  color: #3586FF;
}

.team-card{
  max-width: 202px !important;
  width: 100% !important;
}

.team-heading{
  margin-top: 56px;
margin-bottom: 36px;  
}

.team-line{
  width: 164px;
  background-color: #3586FF;
  height: 1px;
}

/* =========================== Marquee ===========================  */

.marquee-image img{
  transition: all 300ms linear;
}
.marquee-image img:hover{
  scale: 1.2;
}

/* =========================== Footer =========================== */

.footer{
  background-color: #245AAB;
  padding-top: 46px;
  padding-bottom: 47px;
}

.footer-heading{
  font-size: 21.64px;
  line-height: 25.54px;
}

/* ===========================  Media Query =========================== */

@media (max-width : 1199.98px) { 
  /* ===========================  Story =========================== */
  .heading{
    font-size: 38px;
  }

  .story-image{
    height: auto;
  }

/* =========================== Hero =========================== */

.hero-container{
  padding-bottom: 0;
}
  .hero-image{
    max-width: 557px !important;
    width: 100% !important;
    height: auto;
  }

  .hero-layers{
    width: 50%;
    height: 20%;
  }

}

@media (max-width : 991.98px) {
  
  /* =========================== Story =========================== */

  .heading{
    font-size: 32px;
  }
  
  .story-section{
    gap: 36px;
    padding: 40px 0px;
  }
   /* =========================== team =========================== */
   .team-heading{
    margin-top: 40px;
    margin-bottom: 24px;
   }
   .team-section{
    padding: 40px 0px;
   }


/* =========================== Hero =========================== */
.hero-container{
  padding-top:  100px !important;
}

.hero-heading{
  font-size: 50px;
}

/* =========================== Footer =========================== */
.footer{
  padding: 40px 0px;
}

}
@media (max-width : 769.98px) {

  /* =========================== Marquee  =========================== */

    .marquee-image {
      width: 200px;
      height: 200px;
    }

    /* =========================== Story =========================== */

    .heading{
      font-size: 27px;
    }
    .story-section{
      gap: 24px;
    }

    /* ===========================  Hero =========================== */
    
    .hero-container{
      padding-top:  60px !important;
    }

    .hero-heading{
      font-size: 40px;
    }
     /* =========================== Story =========================== */
     .team-heading{
      margin-top:  30px;
      margin-bottom: 16px;
     }
     /* =========================== Footer =========================== */
     .footer-layers{
      width: 50%;
      height: 20%;
     }
}
@media (max-width : 575.98px) {

  /* =========================== Marquee =========================== */

  .marquee-image {
    width: 150px;
    height: 150px;
  }

  /*=========================== Hero =========================== */

  .hero-container{
    padding-top:  40px !important;
  }

  .hero-heading{
    font-size: 32px;
  }

  /*  =========================== story  ===========================  */

  .story-heading{
    margin-top: 40px !important;
  }

  /* =========================== Header =========================== */

  .header-button{
    background-color: #fff !important;
    width: 24px;
    height: 2px;
  }

  .responsive-navbar{
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #245AAB;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
    justify-content: center !important;
    align-items: center !important;
  }

  .center-line::after{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 300ms linear;
  }

  .button-first-line {
    transform: translateX(25px) !important;
}

.button-second-line {
    transform: rotate(45deg) !important;
}

.button-second-line::after {
    content: '' !important;  /* Added content property */
    transform: rotate(90deg) !important;
}

.button-third-line {
    transform: translateX(-25px) !important;
}

.show-nav{
  left: 0 !important;
}


}